@import "./variables.scss";


$button-padding:20px;

.btn {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  color: $header-text-color;
  &_success {
    padding: $button-padding/2 $button-padding;
    background-color: $button-success-background-color;
    border-top-left-radius:$button-border-radius ;
    border-bottom-right-radius: $button-border-radius;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  }
  &_large {
    padding: $button-padding $button-padding*2;
    background-color: $button-success-background-color;
    border-top-left-radius:$button-border-radius ;
    border-bottom-right-radius: $button-border-radius;
  }
  &:active {

    transform: translateY(2px);
  }
  &__footer {
    color: $footer-logos-color;
    font-size: $base-font-size*2;
  }
}

.button__toggle {
    display: none;
  @include mobile {
    display: inherit;
    background-color: transparent;
    color: white;
    border: none;
    font-size: $base-font-size*1.5;
    cursor: pointer;
  }
}