@import "background.css";
* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 , p , img{
  padding: 0;
  margin: 0;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate3d(0,1,0,0deg);
  width: 100%;
  max-width: 850px;
}

.user {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 45px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-block {
  display: flex;
  position: relative;
  height: 150px;
  margin-bottom: 16px;
  padding: 5px;
  transform: rotate3d(0, 0, 0, 0);
  transition-duration: .35s;
  transition-property: transform;
  transform-style: preserve-3d;
}

.content-block::before {
  transform-style: preserve-3d;
  position: absolute;
  height: 50px;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -25px, -125px);
  background: linear-gradient(0 , rgba(222, 30, 0, 0.75), rgba(174, 1, 49, 0.76));
}

.content-block:hover {
  transition-duration: .35s;
  transform: rotate3d(1, 0, 0, 25deg) translate3d(0, -5px, 0);
}

.content-block__image {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.content-block--home {
  flex-basis: 15%;
  background-color:#3387ea ;
}

.content-block--contact {
  flex-basis: 15%;
  background-color: #f9be3e;
}

.content-block--hire {
  flex-basis: 30%;
  background-color: #d3573e;

}

.content-block--photos {
  flex-basis: 15%;
  background-color: #59b0e2;
}

.content-block--about {
  flex-basis: 15%;
  background-color: #33af95;
}

.content-block--about-long {
  flex-basis: 32.5%;
  background-color: #86a73f;
}

.content-block--contact-color {
  flex-basis: 15%;
  background-color: #7e5b8c;
}

.content-block--blog {
  padding: 0;
  display: flex;
  flex-basis: 47.5%;
  background-color: #151a26;
}

.content-block__text {
  color: white;
  display: flex;
  align-self: flex-end;
}

.content-block__blog--image {
  height: 150px;
}

.content-block__blog--text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 430px) {
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 100%;


  }

  .user {
    color: #ffffff;
    font-size: 2.5rem;
    padding: 10px 0 45px 15px;
  }

  .content {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content-block {
    display: flex;
    position: relative;
    height: 150px;
    margin-bottom: 15px;
    padding: 5px;
  }


  .content-block__image {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .content-block--home {
    flex-basis: 48%;
    background-color:#3387ea ;
  }

  .content-block--contact {
    flex-basis: 48%;
    background-color: #f9be3e;
  }

  .content-block--hire {
    flex-basis: 100%;
    background-color: #d3573e;

  }

  .content-block--photos {
    flex-basis: 48%;
    background-color: #59b0e2;
  }

  .content-block--about {
    flex-basis: 48%;
    background-color: #33af95;
  }

  .content-block--about-long {
    flex-basis: 100%;
    background-color: #86a73f;
  }

  .content-block--contact-color {
    flex-basis: 100%;
    background-color: #7e5b8c;
  }

  .content-block--blog {
    padding: 0;
    display: flex;
    flex-basis: 100%;
    background-color: #151a26;
  }

  .content-block__text {
    color: white;
    display: flex;
    align-self: flex-end;
  }

  .content-block__blog--image {
    height: 150px;
  }

  .content-block__blog--text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
