@import "components/preloader/preloader";

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body, ul, li, img, i, p, h1, h2, h3, h4{
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  z-index: 0;
}




