@import "../../mixins.scss";
@import "../../variables.scss";


$bannerTopHeight:40px;


.header {
  &_nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include padding;
    height: 80px;
    background-color: #ffcb76;
    @include laptop {
      padding: 0 75px;
    }
  }
  &__banner-top{
    overflow: hidden;
    width: 100%;
    height: $bannerTopHeight;
    background-color: #33333a;

  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_nav{
      display: flex;
      @include tablet{
        display: none;
      }
    }

    &_hamburger{
      display: none;
      @include tablet{
        display: block;
      }
    }
    &_logo{
      padding-right: 40px;
    }
    &_categories{
      display: flex;
      align-items: center;
      outline: 1px solid rebeccapurple;
    }

    &_item{
      padding: 0 5px;
      display: flex;
    }

    &_item:hover{
      color:#ff5e1b;

    }
    &_user{
      display: flex;
      align-items: center;
      outline: 1px solid rebeccapurple;

    }
    &_avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &_icon{
      padding-left: 40px;
    }

    &_welcome{
      display: flex;
      align-items: center;
      padding: 5px;
    }

  }

}

.banner-top{
  &_wrapper {
    margin: 0 auto;
    width: 300px;
    height:$bannerTopHeight*3;
    transform: translateY(0);
    transition-property: all;
    transition-duration: 1s;
  }
  &__text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:$bannerTopHeight;
  }
}