$background-dark: #313a5a;
$background-light: #ffffff;
$base-font-size:16px;
$btn-default-button-color:#ffffff;
$btn-button-success-color:#1fdb84;
$btn-default-border-radius:5px;
$page-container-padding: 16px;
