* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}




.content {
  width: 300px;


}

.commentsBlock {
  margin: 20px 10px 0;
  background-color: grey;
}

.author{
  width: 100%;
  color: white;
  background-color: #0a8aff;
  padding: 5px 0;

}

.comment {
  width: 100%;
  background-color: white;
  height: 100px;
  border: 1px solid grey;
}


.date {
  background-color: #085fb1;
  color: white;
  padding: 5px 0;
}