$mainPageWidth : 1440px;
$mainPageMinWidth : 350px;

#main-page {
  max-width: $mainPageWidth;
  min-width: $mainPageMinWidth;
  //background-color: #801300;
  background-color: #ffffff;
  margin: 0 auto;
}