$xs-screen: 480px;    //xsmobile
$sm-screen: 768px;    //mobile
$md-screen: 1024px;   //tablet
$lg-screen: 1364px;   //laptop
$xl-screen: 1920px;




@mixin flex {
  display: flex;
  align-items: center;
}



@mixin xs-mobile {
  @media (max-width: #{$xs-screen - 0.1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$sm-screen}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$md-screen }) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$lg-screen - 0.1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$xl-screen - 0.1px}) {
    @content;
  }
}

@mixin padding{
  padding: 0 150px;
  @include tablet {
    padding: 0 50px;
  }
  @include mobile {
    padding: 0 25px;
  }
  @include xs-mobile{
    padding: 0 10px;
  }
}