#lineDrawing {
  width: 340px; }

.left {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%; }

.right {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100%; }

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all;
  transition-duration: 1s;
  visibility: visible; }
  .preloader__left-delay {
    animation: 1s gridAnimationLeft forwards ease-in-out;
    -ms-transform: translateX(0);
        transform: translateX(0); }
  .preloader__right-delay {
    animation: 1s gridAnimationRight forwards ease-in-out;
    -ms-transform: translateX(0);
        transform: translateX(0);
    -ms-transform-origin: right;
        transform-origin: right; }
  .preloader.done {
    transition-duration: 2s;
    opacity: 0;
    visibility: hidden; }
  .preloader .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    animation: 2s preloaderAnimation ease-in-out forwards; }
  .preloader__left {
    width: 50%;
    background-color: #f3d9aa;
    content: '';
    height: 20%; }
  .preloader__right {
    width: 50%;
    background-color: #f3d9aa;
    content: '';
    height: 20%; }

@keyframes preloaderAnimation {
  from {
    transform: translate(-50%, 100vh); }
  to {
    transform: translate(-50%, -50%); } }

@keyframes gridAnimationLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

@keyframes gridAnimationRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(100%); } }

* {
  box-sizing: border-box; }

html {
  font-size: 12px; }

body {
  margin: 0;
  padding: 0; }
