* {
  box-sizing: border-box; }

html {
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif; }

body, ul, ol, h1, h2, h3, h4, hr, p {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }
.bulb {
  width: 50px; }
  .bulb__lighter {
    border: 1px solid red;
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .bulb_active .bulb__lighter {
    background-color: red; }
  .bulb_active .bulb__control {
    background-color: yellow; }
.garland__output {
  border: 1px solid red; }
.select {
  position: relative;
  background-color: green;
  width: 220px; }
  .select__title {
    border: none;
    background-color: transparent;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    width: 100%; }
  .select__options {
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -ms-transform: scaleY(0);
        transform: scaleY(0);
    visibility: hidden;
    -ms-transform-origin: top center;
        transform-origin: top center;
    transition: all .5s; }
  .select__control {
    border: none;
    background-color: transparent;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    width: 100%;
    text-align: right;
    padding: 10px; }
  .select_expand .select__options {
    -ms-transform: scaleY(1);
        transform: scaleY(1);
    visibility: visible; }
